@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
  font-family: "Work Sans", sans-serif;
}
/* header style */
header{
  background-color: rgba(255, 144, 14, 0.10);
  padding: 50px 240px;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}
.nav-title{
  font-size: 3rem;
  font-weight: 700;
  color: #424242;
}
nav > ul{
  display: flex;
}
nav li{
  list-style: none;
  margin-right: 30px;
  font-weight: 500px;
  font-size: 1rem;
}
nav li a{
  text-decoration: none;
  color: #474747;
}
/* banner styles */
.banner-content{
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}
.banner-title{
  font-size: 4rem;
  font-weight: 700;
  color: #131313;
}
.text-light-gray{
  color: #424242;
}
.btn-primary{
  border-radius: 8px;
  background-color: #FF900E;
  color: aliceblue;
  padding: 20px 25px;
  font-size: 1.25rem;
  cursor: pointer;
  border: 0;
  margin-bottom: 24px;

}
 .img{
  width: 100%;
}


header{
  padding: 50px;
}
/* main style */
main{
  max-width: 1440px;
  margin:70px auto ;
}
/* teams style */
.teams-container{
  display: flex;
  align-items: center;
}
.teams-img-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.teams-content{
  padding-right:70px ;
  padding-left: 70px;
}
.teams-title{
  font-size: 2.8rem;
}
.quick-1{
  color: #27272766;
  font-weight: 500px;
}
.quick-3{
  color: #FF900E;
  font-weight: 700px;
}


/* responsive styles */
/* phone divises */
@media screen and (max-width:576px) {
  Header{
    padding:20px ;
  }
  nav, .teams-container {
    flex-direction: column;
  }
  nav li{
    flex-direction: column;
  }
.teams-container{
    flex-direction: column;
  }
 .teams-img-container{
   grid-template-columns: 1fr;
 }
 .teams-content{
  padding-left: 20px;
  padding-right: 20px;
 }

}
/* medium divises */
@media screen and (min-width:576px) and (max-width:992px) {
  nav{
    flex-direction: column;
  }
  .teams-container{
    flex-direction: column;
  }
}